git
.github/workflows/python-unittest.yml_unused
_build

# Byte-compiled / optimized / DLL files
__pycache__/

# json files
*.json

# pyenv
.python-version
.python-version_UPAC_clean

# SMAC files
smac3_output/

# OAT directory
OAT/
cnsoleOutput*

# draft scripts
draft.py
.idea/

# R
.Rhistory

# output
forbidden.txt
tests/forbidden.txt
tests/incumbent_enhsp.json
tests/incumbent_lpg.json
tests/incumbent_fast-downward.json
tests/incumbent_tamer.json
tests/incumbent_pyperplan.json
tests/input.cnf
tests/status
up_ac/examples/selector
up_ac/examples/smac_output_*

# Research
examples/paper_tests
paper_experiments

# Misc
up_ac/engine_pcs/lpg_to_revise.pcs
up_ac/examples/paper_tests
up_ac/examples/baseline_performance_enhsp.py
up_ac/examples/*quality.py
up_ac/examples/*runtime.py
up_ac/examples/*.txt
up_ac/examples/selector
up_ac/utils/sel_feedback.pkl
up_ac/utils/sel_feedback_setting
