git

# Byte-compiled / optimized / DLL files
__pycache__/

# json files
*.json

# pyenv
.python-version
.python-version_UPAC_clean

# SMAC files
smac3_output/

# OAT directory
OAT/
cnsoleOutput*

# draft scripts
draft.py
.idea

# R
.Rhistory

# output
forbidden.txt
tests/forbidden.txt
tests/incumbent_enhsp.json
tests/incumbent_lpg.json
tests/incumbent_fast-downward.json
tests/incumbent_tamer.json
tests/incumbent_pyperplan.json
tests/input.cnf
tests/status
examples/selector
examples/smac_output_*

# Research
examples/paper_tests
paper_experiments

# Misc
engine_pcs/lpg_to_revise.pcs
examples/paper_tests
examples/baseline_performance_enhsp.py
examples/*quality.py
examples/*runtime.py
examples/*.txt
examples/selector
utils/sel_feedback.pkl
utils/sel_feedback_setting
